<div class="row">
  <div class="col-md-6 justify-content-center sign-up">

    {{diagnostic}}

    <h2 class="sign-up--title">Sign Up Today!</h2>
    <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email"
               placeholder="Email"
                [(ngModel)]="model.email" name="email">
      </div>

      <div class="form-group">
        <label for="zip">ZIP</label>
        <input type="number" class="form-control" id="zip"
               required
               placeholder="Zip Code"
                [(ngModel)]="model.zip" name="zip">
      </div>

      <div class="form-group">
        <input type="checkbox" class="form-check-input" id="accept"
                required
                [(ngModel)]="model.accepted" name="accepted">
        <label class="form-check-label" for="accept">Please accept the Terms of Use</label>
      </div>

      <button
        type="submit"
        class="btn btn-success"
        (click)="newUser(); signUpForm.reset()"
        [disabled]="!signUpForm.form.valid">Submit</button>
    </form>
  </div>
</div>
