<div class="row">
  <div class="col-md-12">
    <div class="jumbotron row">
      <div class="col-lg-5">
        <div class="weather weather--city col-md-11 mx-auto">
          <h2 class="weather--city--title d-inline">{{currCityWeather.city}}, MO</h2>

          <a href="#terms" data-toggle="tooltip" data-html="true" title="3 warnings  Click to see">
            <img src="../assets/img/warning.svg" alt="Warnings in your area" class="d-inline warning">
          </a>

          <a *ngIf="currCityWeather.alerts === true" href="#terms" data-toggle="tooltip" data-html="true" title="3 warnings  Click to see">
            <img src="../assets/img/warning.svg" alt="Warnings in your area" class="d-inline warning">
          </a>
        </div>

        <div class="weather--conditions col-md-6 mx-auto">
          <img src={{currCityWeather.currIcon}} alt="Current Conditions Image" class="d-inline">
          <p class="d-inline weather--condition">{{currCityWeather.description}}</p>
        </div>

        <p class="weather--temp--main col-md-8 mx-auto">{{currCityWeather.currTemp}}<span>&#8457;</span></p>
        <div class="weather--temp col-md-8 mx-auto">
          <p class="weather--temp--lo-hi">{{currCityWeather.hiTemp}} &#8457; | {{currCityWeather.lowTemp}} &#8457;</p>
        </div>
      </div>
      <div class="col-lg-7">
        <h2 class="display-12">Never get caught out in the rain again!</h2>
        <p class="lead">Subscribe to our state-of-the-art, up-to-the-minute weather service and never be taken by surprise again. Our team of meterologists works 24/7 to make sure you get the most up-to-date weather information right where you need it most. Sign up now and get the latest on your smartphone, in your inbox or our brand new morning wake up call.</p>
        <p class="lead">
          <button class="btn btn-primary btn-lg" onclick="goToAnchor('terms')">Sign Up Now!</button>
        </p>
      </div>
    </div>
  </div>
</div>
